@use "../../styles/mixins" as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include flex-center;
  z-index: 1000;
  cursor: pointer;
}

.modal {
  background-color: $color-background;
  padding: 32px;
  border-radius: $border-radius-medium;
  max-width: 400px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: $shadow-card;
  position: relative;
  cursor: default;
  border: 1px solid $border-color;
  margin: 20px; /* Добавляем отступы для мобильных устройств */

  h2 {
    color: $color-primary;
    margin-bottom: 24px;
    font-size: $font-large;
    text-align: center;
  }
}

.closeButton {
  @include button-secondary;
  width: 100%;
  margin-top: 20px;
  font-size: $font-standard;

  &:hover {
    background-color: $color-accent;
    color: $color-button-text;
  }
}
