@use "../../styles/mixins" as *;

.root {
  width: 100%;
  max-width: var(--content-width);
}

.title {
  font-size: clamp(2.5rem, 4vw, 3.75rem); /* 40px - 60px, было 60px */
  @include flex-center;
  flex-direction: column;
  line-height: 0;
  margin-bottom: 100px;
  color: $color-secondary;
}

.slider {
  overflow: hidden;
  width: 100%;
}

.list {
  list-style-type: none;
  border-radius: 50px;
  margin-bottom: 70px;
  display: flex;
}

.cardSlide {
  position: relative;
  min-width: 0;
  flex: 0 0 auto;
  width: 33.333%;
  padding: 0 20px;
}

