@import "../../styles/mixins";

.root {
  width: 1920px;
}

.title {
  font-size: $font-giant;
  @include flex-center;
  flex-direction: column;
  line-height: 0;
  margin-bottom: 100px;
  color: $color-secondary;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 70px;
}
