@use "../../styles/mixins" as *;

.root {
  width: 100%;
  max-width: var(--content-width);
}

.title {
  @include section-heading;
  @include flex-center;
  flex-direction: column;
  color: $color-secondary;
}

.slider {
  overflow: hidden;
  width: 100%;
}

.list {
  list-style-type: none;
  border-radius: 50px;
  margin-bottom: $space-6xl;
  display: flex;
}

.cardSlide {
  position: relative;
  min-width: 0;
  flex: 0 0 auto;
  width: 33.333%;
  padding: 0 20px;
}

@include respond-md-max {
  .cardSlide {
    width: 50%;
  }
}

@include respond-lg {
  .slider,
  .sliderButtons {
    width: calc(100% + 160px);
    margin-left: -80px;
    margin-right: -80px;
  }
}

@include respond-lg-max {
  .slider {
    overflow: visible;
  }

  .list {
    flex-direction: column;
    border-radius: 0;
    margin-bottom: $space-4xl;
    gap: 24px;
  }

  .cardSlide {
    width: 100%;
    padding: 0;
    flex: none;
  }

  .sliderButtons {
    display: none;
  }
}

