@use "../../styles/mixins" as *;

.root {
  width: 100%;
  max-width: 1920px;
  flex-direction: column;
}

.title {
  font-size: $font-giant;
  line-height: 0;
  margin-bottom: 100px;
}

.winnersList {
  @include flex-center;
  position: relative;
  padding: 0;
  list-style: none;
  margin: 0 0 70px;
  gap: 250px;
}

.winner {
  position: relative;
}

.winner:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: $color-button-text;
  top: 0;
  right: calc(-45%);
  transform: rotate(15deg);
}
