.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 60px;
  line-height: 0;
  margin-bottom: 100px;
}

.winnersList {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 70px;
  gap: 250px;
}

.winner {
  position: relative;
}

.winner:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #F0E6D2;
  top: 0;
  right: calc(-45%);
  transform: rotate(15deg);
}
