@use "../../styles/mixins" as *;

.root {
  @include flex-center;
  width: 95%;
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}

.imageContainer {
  position: relative;
}

.image {
  width: 100%;
}

.imageOverlay {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
}

.title {
  margin: 0;
  font-size: clamp(2rem, 3vw, 2.5rem); /* 32px - 40px */
  line-height: 1.2;
  text-align: left;
  color: $color-secondary;
}

.description {
  font-size: clamp(1.125rem, 1.5vw, 1.375rem); /* 18px - 22px */
}

.button {
  @include button-primary;
  text-decoration: none;
  font-size: clamp(1rem, 1.2vw, 1.125rem); /* 16px - 18px */
  line-height: 1.2;
  width: fit-content;

  &:hover {
    text-decoration: none;
    color: $color-button-text;
  }

  &:focus {
    color: $color-button-text;
  }

  &:active {
    color: $color-button-text;
  }
}
