.root {
  max-width: 800px;
  text-align: left;
}

.title {
  margin: 0 auto;
  font-size: 60px;
  line-height: 100px;
  color: #8B4513;
}

.description {
  font-size: 40px;
}

.button {
  width: 230px;
}
