@use "../../styles/mixins";

.feedback {
  max-width: 340px;
}

.feedbackTitle {
  text-align: center;
  font-size: mixins.$font-standard;
  line-height: 1.4;
  margin-bottom: 8px;
  color: mixins.$color-primary;
}

.feedbackAddress {
  display: flex;
}

.feedbackAddress input {
  @include mixins.input-base;
  border: 1px solid mixins.$color-accent;
  padding: 8px 12px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-size: mixins.$font-small;
  width: 100%;
}

.feedbackAddress button {
  @include mixins.button-secondary;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: mixins.$font-small;
  white-space: nowrap;

  &:hover {
    transform: translateY(0);
  }
}

.feedbackText {
  text-align: center;
  font-size: mixins.$font-small;
  margin: 8px 0 0;
}
