@use "../../styles/mixins";

.feedback {

}

.feedbackTitle {
  text-align: center;
  font-size: mixins.$font-medium;
  line-height: 24px;
  color: mixins.$color-primary;
}

.feedbackAddress {
  display: grid;
  grid-template-columns: 0.8fr auto;
}

.feedbackAddress input {
  @include mixins.input-base;
  border: 1px solid mixins.$color-accent;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.feedbackAddress button {
  @include mixins.button-secondary;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  &:hover {
    transform: translateY(0);
  }
}

.feedbackText {
  text-align: center;
}
