@import '../../styles/mixins';

.feedback {

}

.feedbackTitle {
  text-align: center;
  font-size: $font-medium;
  line-height: 24px;
  color: $color-primary;
}

.feedbackAddress {
  display: grid;
  grid-template-columns: 0.8fr auto;
}

.feedbackAddress input {
  @include input-base;
  border: 1px solid #D2691E;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.feedbackAddress button {
  @include button-secondary;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  &:hover {
    transform: translateY(0);
  }
}

.feedbackText {
  text-align: center;
}
