@use "../../styles/mixins";

.root {
  width: 100%;
  display: flex;
  justify-content: center;
  //margin: 0 auto;
  margin-top: 50px;
}

.heroText {
  max-width: 650px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroTitle {
  margin: 0 auto;
  font-size: clamp(2.5rem, 4vw, 3.75rem); /* 40px - 60px */
  line-height: clamp(2.5rem, 4.5vw, 4.375rem); /* 40px - 70px */
  color: mixins.$color-secondary;
}

.heroSpan {
  font-size: clamp(1.25rem, 2vw, 1.75rem); /* 20px - 28px */
}

.heroButton {
  @include mixins.button-primary;
  text-decoration: none;
  font-size: clamp(1rem, 1.5vw, 1.25rem); /* 16px - 20px */
  line-height: 1.2;
  width: fit-content;

  &:hover {
    text-decoration: none;
    color: mixins.$color-button-text;
  }

  &:focus {
    color: mixins.$color-button-text;
  }

  &:active {
    color: mixins.$color-button-text;
  }
}

.heroImage {
  width: 50%;
}

@include mixins.respond-md-max {
  .root {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

  .heroText {
    align-items: center;
  }

  .heroButton {
    margin: 0 auto;
  }

  .heroImage {
    display: none;
  }
}
