@use "../../styles/mixins" as *;

.root {
  width: 100%;
  margin: 0;
}

.title {
  @include flex-center;
  flex-direction: column;
  font-size: $font-giant;
  line-height: 0;
  margin-bottom: 100px;
}

.imageContainer {
  position: relative;
  margin-bottom: 160px;
}

.imageContainer::after {
  content: "";
  position: absolute;
  transform: translate(-50%);
  width: 55%;
  height: 5px;
  bottom: -90px;
  left: 50%;
  background-color: $color-button-text;
}

.image {
  width: 100%;
}


.imageOverlay {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
}

.text {
  margin: 0 auto 0;
  text-align: center;
  width: 55%;
  font-size: $font-medium;
}
