@use "../../styles/mixins" as *;

.root {
  width: 100%;
  margin: 0;
}

.title {
  @include section-heading;
  @include flex-center;
  flex-direction: column;
  font-size: clamp(1.75rem, 3vw, 2.25rem);
}

.imageContainer {
  position: relative;
  margin-bottom: clamp(60px, 8vw, 100px);
}

.imageContainer::after {
  content: "";
  position: absolute;
  transform: translate(-50%);
  width: 55%;
  height: 3px;
  bottom: -60px;
  left: 50%;
  background-color: $color-button-text;
}

.image {
  width: 100%;
}


.imageOverlay {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
}

.text {
  margin: 0 auto 0;
  text-align: center;
  width: 55%;
  font-size: $font-standard;
}
