@use "../../styles/mixins" as *;

.root {
  width: 90%;
  max-width: var(--content-width);
  margin: 0 auto;
}

.title {
  margin-bottom: $space-4xl;
}

.timeline {
  position: relative;
}

.centerLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  background: $gradient-line;
  border-radius: 20px;
}

.stageList {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 40px;
}

.stageItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: stretch;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #8B4513;
    animation: pulse 2s infinite;
    transform: translateX(-50%);
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i})::after {
      animation-delay: #{$i * 0.3 - 0.3}s;
    }
  }

  &.left {
    justify-content: flex-end;
    margin-right: calc(50% + 60px);

    &::after {
      left: calc(50% + 60px + 50%);
    }
  }

  &.right {
    justify-content: flex-start;
    margin-left: calc(50% + 28px);

    &::after {
      left: calc(50% - 28px - 50%);
    }
  }
}

.stageItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  display: none;
  margin: 8px 0;
  animation: bounceArrow 1.5s ease-in-out infinite;
}

@for $i from 1 through 10 {
  .stageItemWrapper:nth-child(#{$i}) .arrow {
    animation-delay: #{$i * 0.3 - 0.3}s;
  }
}

@include respond-lg-max {
  .centerLine {
    display: none;
  }

  .stageItem::after {
    display: none;
  }

  .stageItemWrapper {
    align-items: stretch;
  }

  .arrow {
    display: block;
    align-self: center;
  }

  .stageItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .left, .right {
    margin: 0 !important;
    justify-content: flex-start;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(139, 69, 19, 0.7);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(139, 69, 19, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(139, 69, 19, 0);
  }
}

@keyframes bounceArrow {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(8px);
    opacity: 1;
  }
}
