@use "../../styles/mixins" as *;

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  gap: 70px;
}

.root h2 {
  font-size: $font-giant;
  align-self: flex-end;
  line-height: 0;
  margin-bottom: 70px;
}

.advantagesList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantagesList li {
  width: 22%;
  position: relative;
  counter-increment: item-counter;
}

.advantagesList li h3 {
  font-size: 34px;
  line-height: 38px;
}

.advantagesList li p {
  font-size: $font-medium;
}

.advantagesList li::after {
  content: counter(item-counter);
  position: absolute;
  transform: translate(0, 10%);
  bottom: 0;
  right: 0;
  color: $color-button-text;
  font-size: 430px;
  z-index: -1;
}
