@use "../../styles/mixins" as *;

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content-width);
  gap: 70px;
}

.root h2 {
  font-size: $font-giant;
  align-self: flex-end;
  line-height: 0;
  margin-bottom: 70px;
}

.advantagesList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantagesList li {
  width: 22%;
  position: relative;
  counter-increment: item-counter;
}

.advantagesList li h3 {
  font-size: clamp(1.875rem, 2.5vw, 2.125rem); /* 30px - 34px */
  line-height: 38px;
}

.advantagesList li p {
  font-size: $font-medium;
}

.advantagesList li::after {
  content: counter(item-counter);
  position: absolute;
  transform: translate(0, 10%);
  bottom: 0;
  right: 0;
  color: $color-button-text;
  font-size: clamp(15rem, 27vw, 26.875rem);
  z-index: -1;
}

.animate li {
  opacity: 0;
  transform: translateX(100px);
  animation: slideIn 1s ease-out forwards;
}

.animate li:nth-child(1) { animation-delay: 0s; }
.animate li:nth-child(2) { animation-delay: 0.25s; }
.animate li:nth-child(3) { animation-delay: 0.5s; }
.animate li:nth-child(4) { animation-delay: 0.75s; }

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
