.root {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 120px;
}

.subtitle {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  line-height: 0;
  margin-bottom: 100px;
  color: #8B4513;
}

.card {
  background-color: rgba(240, 230,210,0.3);
  width: 700px;
}

.cardTitle {
  font-size: 24px;
  line-height: 38px;
  padding: 20px;
  text-align: center;
}

.cardText {
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 700px;
}

.form input {
  background-color: transparent;
  padding: 10px;
  color: #3a2d2d;
}

.form textarea {
  background-color: transparent;
  height: 100px;
  padding: 10px;
  color: #3a2d2d;
}

.form button {
  padding: 15px;
  font-size: 20px;
}
