@use "../../styles/mixins" as *;

.root {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 120px;
}

.subtitle {
  font-size: clamp(2.5rem, 4vw, 3.125rem); /* 40px - 50px */
  @include flex-center;
  flex-direction: column;
  line-height: 0;
  margin-bottom: 100px;
  color: $color-secondary;
}

.card {
  width: 700px;
}

.cardTitle {
  font-size: $font-medium;
  line-height: 38px;
  padding: 20px;
  text-align: center;
}

.cardText {
  font-size: $font-medium;
  padding: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 700px;
}

.form input {
  @include input-base;
  background-color: transparent;
  padding: 10px;
}

.form textarea {
  @include textarea;
  background-color: transparent;
  height: 100px;
  padding: 10px;
}

.form button {
  @include button-primary;
  padding: 15px;
  font-size: clamp(1.125rem, 2vw, 1.25rem); /* 18px - 20px */
}
