@use "../../styles/mixins" as *;

.previewRoot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include section-bottom-margin;
}

.title {
  margin-bottom: $space-4xl;
}

.previewImage {
  width: 100%;
  border-radius: 24px;
}

.preview {
  display: flex;
  flex-direction: column;
  font-size: $font-standard;
  text-align: center;
  padding: 30px clamp(16px, 3vw, 60px);
  gap: 24px;
  width: 100%;
}

.previewTitle {
  margin: 0;
}

.previewText {
  margin: 0;
}

.previewInfoDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.previewInfoDetails p {
  padding: 0;
  margin: 0;
}

.previewButton {
  @include button-secondary;
  @include button-small;
}
