@use "../../styles/mixins" as *;

.previewRoot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include section-bottom-margin;
  gap: 32px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 32px;
  }
}

.title {
  margin-bottom: $space-4xl;
}

.previewImage {
  width: 100%;
  border-radius: 20px;
  height: 400px;
  flex: 0 0 50%;
  object-fit: cover;
  transition: transform 0.5s ease;

  &:hover {
    @include image-hover;
  }

  @media (max-width: 1024px) {
    flex: 0 0 100%;
    height: 300px;
  }

  @media (max-width: 768px) {
    height: 200px;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  font-size: $font-standard;
  text-align: center;
  gap: 24px;
  width: 100%;
  flex: 1;
  justify-content: center;
  padding: 0 24px;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.previewTitle {
  margin: 0;
}

.previewText {
  margin: 0;
}

.previewInfoDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

.previewInfoDetails p {
  padding: 0;
  margin: 0;
}

.previewButton {
  @include button-secondary;
  @include button-small;

  @media (max-width: 768px) {
    align-self: center;
    width: 100%;
    max-width: 300px;
  }
}
