@use "../../styles/mixins";

.link {
  @include mixins.link-base;
}

.logo {
  @include mixins.flex-center;
  gap: 10px;
}

.logoImage {
  height: clamp(80px, 8vw, 110px);
}

.logoText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoTitle {
  margin: 0;
  color: mixins.$color-accent;
  font-size: clamp(1.25rem, 2vw, 1.75rem); /* 20px - 28px */
  align-self: center;
  position: relative;
}

.logoTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: mixins.$color-accent;
}

.logoSubTitle {
  margin: 0;
  font-size: clamp(0.875rem, 1.2vw, 1rem); /* 14px - 16px */
  color: mixins.$color-primary;
}

@include mixins.respond-lg-max {
  .logoText {
    display: none;
  }
}
