.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  align-self: center;
}

.title {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 40px;
  line-height: 0;
  margin-bottom: 25px;
}

.firstTitle {
  align-self: start;
}

.secondTitle {
  align-self: center;
}

.blockAboutText {
  width: 900px;
  justify-content: space-between;
  display: flex;
  align-self: center;
  gap: 150px;
}

.aboutUsTitle {
  width: 150px;
  font-size: 40px;
  line-height: 20px;
  position: relative;
}

.aboutUsTitle::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100px;
  background-color: #4D0505;
  transform: translate(-50%);
  left: 50%;
  top: 10%;
}

.text {
  width: 700px;
  font-size: 24px;
  line-height: 45px;
}

.disk {
  position: absolute;
  right: 0;
}

.linkToCompetition {
  font-size: 28px;
  align-self: flex-end;
  padding-right: 15%;
}
