@use "../../styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  align-self: center;
}

.title {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: clamp(4.75rem, 7vw, 6.625rem); /* 60px - 90px */
  line-height: 1.2;
  margin-bottom: 20px;
}

.firstTitle {
  align-self: start;
  margin: 0;
}

.secondTitle {
  align-self: end;
}

.blockAboutText {
  width: 70%;
  display: flex;
  align-self: center;
  gap: 40px;
}

.aboutUsTitle {
  margin: 0;
  width: auto;
  font-size: clamp(1.3rem, 1vw, 2rem); /* 24px - 32px */
  line-height: 1.4;
  position: relative;
  white-space: nowrap;
}

.aboutUsTitle::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  background-color: mixins.$color-primary;
  left: calc(50%);
  top: calc(15%);
}

.text {
  width: 100%;
  max-width: 700px;
  font-size: clamp(1rem, 1.5vw, 1.125rem); /* 16px - 18px */
  line-height: 1.6;
}

.text p {
  margin: 0 0 12px;
}

.disk {
  position: absolute;
  right: 0;
}

.linkToCompetition {
  font-size: clamp(1rem, 1.5vw, 1.25rem); /* 16px - 20px */
  align-self: flex-end;
  padding-right: 15%;
}

@include mixins.respond-md-max {
  .root {
    width: 100%;
    padding: 0 16px;
  }

  .title {
    width: 100%;
  }

  .blockAboutText {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .aboutUsTitle::after {
    display: none;
  }

  .disk {
    display: none;
  }

  .linkToCompetition {
    padding-right: 0;
  }
}
