@import "../../styles/mixins";

.root {
  width: 100%;
  max-width: 1920px;
  align-content: center;
}

.title {
  margin-bottom: 70px;
}

.subtitle {
  font-size: 50px;
  @include flex-center;
  flex-direction: column;
  line-height: 0;
  margin-bottom: 100px;
  color: $color-secondary;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.serviceOptions {
  margin-bottom: 120px;
}

.serviceRequestForm {
  margin-bottom: 120px;
}

.anotherServices {
  margin-bottom: 70px;
}

.carouselList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

