.root {
  width: 1920px;
  height: 100dvw;
  align-content: center;
}

.title {
  margin-bottom: 70px;
}

.preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 70px;
}

.previewImage {
  width: 100%;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}

.previewInfo {
  font-size: 24px;
  text-align: center;
  padding: 50px 100px;
  background-color: rgba(240, 230,210,0.3);
  width: 100%;
}

.previewText {
  //width: 600px;
}
