.root {
  width: 1920px;
  align-content: center;
}

.title {
  margin-bottom: 70px;
}

.preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 120px;
}

.previewImage {
  width: 100%;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}

.previewInfo {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  text-align: center;
  padding: 50px 100px;
  background-color: rgba(240, 230,210,0.3);
  gap: 40px;
  width: 100%;
}

.previewTitle {
  margin: 0;
}

.previewText {
  margin: 0;
}

.previewInfoDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.previewInfoDetails p {
  padding: 0;
  margin: 0;
}

.subtitle {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  line-height: 0;
  margin-bottom: 100px;
  color: #8B4513;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.serviceOptions {
  margin-bottom: 120px;
}

.serviceRequestForm {
  margin-bottom: 120px;
}

.anotherServices {
  margin-bottom: 70px;
}

.carouselList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}
