@use "../../styles/mixins" as *;

.root {
  @include flex-center;
  gap: 20px;
}

.pages {
  display: flex;
  gap: 12px;
}

.button {
  @include button-icon;
  transition: all 0.2s ease;
}

.button svg {
  color: $color-primary;
}

.dot {
  color: $color-accent;
}
