@use "../../styles/mixins";

.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding-top: 10px;
}

.link {
  @include mixins.link-base;
}

.linkActive {
  @include mixins.link-active;
}

.headerPages {
  padding: 0;
  display: flex;
  list-style: none;
  gap: 55px;
  font-size: 28px;
}

.helpers {
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.helpers button {
  @include mixins.button-secondary;

  &:hover {
    transform: translateY(0);
  }
}

.infoForSearch {
  display: grid;
  grid-template-columns: 0.8fr auto;
}

.infoForSearch input {
  @include mixins.input-base;
  border: 1px solid mixins.$color-accent;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.infoForSearch button {
  @include mixins.button-secondary;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  &:hover {
    transform: translateY(0);
  }
}
