@use "../../styles/mixins" as *;

.root {
  margin-bottom: 80px;
}

.subtitle {
  font-size: clamp(2rem, 3vw, 2.5rem); /* 32px - 40px */
  @include flex-center;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: 60px;
  color: $color-secondary;
}

.options {
  @include flex-center;
  gap: 40px;
}
