@use "../../styles/mixins" as *;

.root {
  @include section-bottom-margin;
}

.subtitle {
  @include section-heading;
  @include flex-center;
  flex-direction: column;
  color: $color-secondary;
}

.options {
  @include flex-center;
  gap: 40px;
}

@include respond-md-max {
  .options {
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
}
