@use "../../styles/mixins" as *;

.root {
  @include flex-center;
  width: 100%;
  max-width: var(--content-width);
}

.title {
  font-size: clamp(2rem, 3vw, 2.5rem); /* 32px - 40px */
  line-height: 1.2;
  margin-bottom: 60px;
}

.partnersList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 40px;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
}

.imageContainer {
  width: 120px;
  height: 120px;
  border: solid 2px $color-primary;
  border-radius: 50%;
  align-content: center;
}

.imageContainer img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
