@use "../../styles/mixins" as *;

.root {
  @include flex-center;
  width: 100%;
  max-width: var(--content-width);
}

.title {
  font-size: $font-giant;
  line-height: 0;
  margin-bottom: 100px;
}

.partnersList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 70px;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
}

.imageContainer {
  width: 200px;
  height: 200px;
  border: solid 3px $color-primary;
  border-radius: 50%;
  align-content: center;
}
