@use "../../styles/mixins";
.root {
  display: inline-flex;
  align-items: start;
  background: linear-gradient(135deg, #FDF5E6 100%, #FFFFFF 0%);
  width: auto;
  border-radius: mixins.$border-radius-medium;
  padding: 8px 16px 8px 0;
}

.icon {
  fill: mixins.$color-primary;
}

.info {
  flex-direction: column;
  margin: 0;
  align-items: start;
}

.info p {
  margin: 0;
}

.stage {
  font-size: clamp(1rem, 1.5vw, 1.25rem); /* 16px - 20px */
}

.date {
  font-size: clamp(0.875rem, 1.2vw, 1rem); /* 14px - 16px */
}
