@use "../../styles/mixins";
.root {
  display: inline-flex;
  align-items: start;
  background: linear-gradient(135deg, #FDF5E6 100%, #FFFFFF 0%);
  width: auto;
  border-radius: mixins.$border-radius-medium;
  padding: 10px 20px 10px 0;
}

.icon {
  fill: mixins.$color-primary;
}

.info {
  flex-direction: column;
  margin: 0;
  align-items: start;
}

.info p {
  margin: 0;
}

.stage {
  font-size: mixins.$font-large;
}

.date {
  font-size: mixins.$font-medium;
}
