@import "../../styles/mixins";

.root {
  font-size: $font-medium;
  position: relative;
  background-color: rgba(187, 196, 200, 0.1);
  border-radius: 20px;
}

.subtitle {
  font-size: 30px;
  @include flex-center;
  flex-direction: column;
  line-height: 0;
  padding: 20px;
  margin-bottom: 10px;
  color: $color-secondary;
}

.options {
  width: 660px;
  margin: 0;
  padding: 20px;
  border-radius: 20px;
}

.options li {
  list-style: none;
  position: relative;
  padding-left: 50px;
}

.options li::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: $color-primary;
  left: 10px;
  transform: translate(50%, 75%);
  border-radius: 50%;
}
