@use "../../styles/mixins";

.root {
  font-size: mixins.$font-standard;
  position: relative;
  @include mixins.card-style;
}

.subtitle {
  font-size: clamp(1.125rem, 1.5vw, 1.375rem); /* 18px - 22px */
  @include mixins.flex-center;
  flex-direction: column;
  line-height: 1.2;
  padding: 16px;
  margin-bottom: 8px;
  color: mixins.$color-secondary;
}

.options {
  width: clamp(300px, 45vw, 480px);
  margin: 0;
  padding: 16px;
  border-radius: 20px;
}

.options li {
  list-style: none;
  position: relative;
  padding-left: 32px;
}

.options li::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: mixins.$color-primary;
  left: 8px;
  transform: translateY(75%);
  border-radius: 50%;
}
