@use "../../styles/mixins";

.root {
  width: 90%;
  max-width: var(--content-width);
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: mixins.$font-giant;
  line-height: 60px;
  text-align: start;
}

.description {
  display: flex;
  justify-content: space-between;
  font-size: mixins.$font-large;
  line-height: 45px;
  text-align: start;
  margin-bottom: 60px;
}

.link {
  font-size: mixins.$font-medium;
  display: block;
  text-align: right;
}

.disk {
  padding: 30px;
}

.root::after {
  content: "";
  position: absolute;
  transform: translate(-50%);
  width: 55%;
  height: 5px;
  bottom: -50px;
  left: 50%;
}

