@use "../../styles/mixins";

.root {
  width: 90%;
  max-width: var(--content-width);
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: mixins.$font-giant;
  line-height: 1.2;
  text-align: start;
}

.description {
  display: flex;
  justify-content: space-between;
  font-size: mixins.$font-standard;
  line-height: 1.5;
  text-align: start;
}

.link {
  font-size: mixins.$font-standard;
  display: block;
  text-align: right;
}

.disk {
  padding: 30px;
}

.root::after {
  content: "";
  position: absolute;
  transform: translate(-50%);
  width: 55%;
  height: 5px;
  bottom: -50px;
  left: 50%;
}

