@use "../../styles/mixins";

.root {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: clamp(60px, 8vw, 100px);
}

.image {
  width: 95%;
}

.info {
  width: 250px;
  height: 270px;
  background-color: mixins.$color-primary;
  position: absolute;
  right: 0;
  top: -10%;
  color: mixins.$color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.infoYears {
  position: absolute;
  font-size: clamp(7.75rem, 12vw, 8rem);
  line-height: 0;
  margin: clamp(10px, 8vw, 100px);
}

.infoAddText {
  position: absolute;
  width: 150px;
  font-size: mixins.$font-medium;
  line-height: 1.3;
  padding-top: clamp(90px, 15vw, 150px);
}

@include mixins.respond-md-max {
  .root {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info {
    position: static;
    margin-top: 20px;
    width: 200px;
    height: 220px;
  }
}
