@import "../../styles/mixins";

.root {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 120px;
}

.title {
  @include flex-center;
  flex-direction: column;
  line-height: 0;
  margin-bottom: 100px;
  color: $color-secondary;
}
