@import '../../styles/mixins';

.root {

}

.title {
  font-size: $font-giant;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  line-height: 0;
  margin-bottom: 100px;
  color: $color-secondary;
}

.expertsList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
