@use "../../styles/mixins" as *;

.root {
  width: 100%;
  max-width: var(--content-width);
}

.title {
  @include section-heading;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: $color-secondary;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.expertsCarousel {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0 0 $space-5xl;
}

.carouselItem {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
  justify-content: center;
}

.expertsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style-type: none;
}

@include respond-lg {
  .expertsList {
    flex-wrap: nowrap;
  }
}

@include respond-md-max {
  .expertsList {
    gap: 24px;
  }
}

@include respond-sm-max {
  .expertsList {
    flex-direction: column;
    align-items: center;
  }
}
