@use "../../styles/mixins" as *;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-secondary;
  gap: 12px;

  &:hover .image {
    transform: scale(1.05);
  }
}

.year {
  font-size: clamp(1.5rem, 2vw, 2rem); /* 24px - 32px */
  margin: 0;
}

.image {
  width: clamp(160px, 16vw, 200px);
  height: clamp(160px, 16vw, 200px);
  object-fit: cover;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: clamp(0.875rem, 1.2vw, 1rem); /* 14px - 16px */
}

.name {
  font-size: clamp(1rem, 1.5vw, 1.25rem); /* 16px - 20px */
}

