@use "../../styles/mixins" as *;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $color-secondary;
  gap: 20px;

  &:hover .image {
    transform: scale(1.05);
  }
}

.year {
  font-size: $font-giant;
  margin: 0;
}

.image {
  width: 300px;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: $font-large;
}

.name {
  font-size: $font-large;
}

