.root {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.map {
    width: 100%;
    height: auto;

    .island {
        transition: fill 0.5s ease;
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }
    }
}
