@use "../../styles/mixins" as *;

.root {
  width: 100%;
  max-width: var(--content-width);
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

@include respond-md-max {
  .root { gap: 40px; }
}

@include respond-sm-max {
  .root { gap: 24px; }
}
